In [2]:
import pandas as pd

In [7]:
xl = pd.ExcelFile('wartosci_walorow_dane_zrodlowe.xlsx')

In [10]:
assetes = xl.sheet_names
print(assetes)

['MSCI EM', 'MSCI Japan', 'MSCI PAcyfic ex Japan', 'MSCI EUROPE', 'SP500', 'ACWI', 'AGG BOND', 'eurpln_m', '^tbsp_m(1)', 'GLOBAL CORP', 'AGG BOND Hedged', 'mwig40tr', 'mwig40_m', 'swig80tr_m', 'swig80_m', 'wig20tr_m', 'wartości indeksów - dane źródło', 'wig20']

In [11]:
df = xl.parse(assetes[0])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   413 non-null    datetime64[ns]
 1   MSCI Emerging Markets  413 non-null    float64
 2   Kolumna1               412 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 9.8 KB

In [15]:
df.iloc[:,2].head()

0         NaN
1    0.110047
2    0.032505
3    0.092481
4    0.047184
Name: Kolumna1, dtype: float64

In [16]:
df.head()

        Date  MSCI Emerging Markets  Kolumna1
0 1987-12-01           10000.000000       NaN
1 1988-01-01           11100.471624  0.110047
2 1988-02-01           11461.291864  0.032505
3 1988-03-01           12521.242776  0.092481
4 1988-04-01           13112.040735  0.047184