In [16]:
import pandas as pd
import numpy as np

In [70]:
#usunięto ostatni rząd
df = pd.read_excel('ie_data.xlsx',sheet_name='Data', header=7, usecols=['Date','CAPE', 'Rate GS10', 'CPI', 'P', 'D', 'E'], parse_dates=True, index_col='Date')
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1710 entries, 1881-01-01 to 2023-06-01
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   P          1710 non-null   float64
 1   D          1710 non-null   float64
 2   E          1710 non-null   float64
 3   CPI        1710 non-null   float64
 4   Rate GS10  1710 non-null   float64
 5   CAPE       1710 non-null   float64
dtypes: float64(6)
memory usage: 93.5 KB

In [71]:
df.tail(20)

                      P          D           E      CPI  Rate GS10       CAPE
Date
2021-11-01  4667.386667  60.016239  190.390000  277.948       1.56  38.582627
2021-12-01  4674.772727  60.397117  197.870000  278.802       1.47  38.304850
2022-01-01  4573.815500  60.921403  197.883333  281.148       1.76  36.936758
2022-02-01  4435.980526  61.445689  197.896667  283.716       1.93  35.287149
2022-03-01  4391.265217  61.969974  197.910000  287.504       2.13  34.270799
2022-04-01  4391.296000  62.653316  196.026667  289.109       2.75  33.889165
2022-05-01  4040.360000  63.336658  194.143333  292.296       2.90  30.673155
2022-06-01  3898.946667  64.020000  192.260000  296.311       3.14  29.047721
2022-07-01  3911.729500  64.452768  190.583333  296.276       2.90  29.004618
2022-08-01  4158.563043  64.885537  188.906667  296.171       2.90  30.698763
2022-09-01  3850.520476  65.318305  187.230000  296.808       3.52  28.229885
2022-01-01  3726.050952  65.852204  182.403333  298.012       3.98  27.080767
2022-11-01  3917.488571  66.386102  177.576667  297.711       3.89  28.378949
2022-12-01  3912.380952  66.920000  172.750000  296.797       3.62  28.316901
2023-01-01  3960.656500  67.350000  173.556667  299.170       3.53  28.334813
2023-02-01  4079.684737  67.780000  174.363333  300.840       3.75  28.919763
2023-03-01  3968.559130  68.210000  175.170000  301.675       3.66  27.953041
2023-04-01  4121.467368  68.376667  177.170000  303.363       3.46  28.764684
2023-05-01  4146.173182  68.543333  179.170000  304.127       3.57  28.761806
2023-06-01  4345.372857  68.710000  181.170000  305.109       3.75  29.939593

In [74]:
4345.372857/4146.173182-1

0.04804422445854306

In [84]:
var_exog = pd.DataFrame({})
var_exog['cape_inv'] = 1/df['CAPE']
var_exog['cpi'] = df['CPI'].pct_change(periods=12)
var_exog['eqvol'] = df['P'].pct_change().rolling(12).std()
var_exog['bndyvol'] = df['Rate GS10'].rolling(12).std()

#var_exog = np.log(var_exog)
np.round(var_exog.tail(10),3)

            cape_inv    cpi  eqvol  bndyvol
Date
2022-09-01     0.035  0.082  0.042    0.714
2022-01-01     0.037  0.077  0.042    0.801
2022-11-01     0.035  0.071  0.043    0.814
2022-12-01     0.035  0.065  0.043    0.734
2023-01-01     0.035  0.064  0.043    0.646
2023-02-01     0.035  0.060  0.044    0.553
2023-03-01     0.036  0.049  0.045    0.435
2023-04-01     0.035  0.049  0.047    0.387
2023-05-01     0.035  0.040  0.040    0.349
2023-06-01     0.033  0.030  0.040    0.337


var_exog: 
- cape_inv: 1/cape 
- r10yb: - Real 10-year bond yields (nominal yeld-expected inflation)
- cpi: Year-over-year CPI inflation rate
- eqvol: Realized S&P500 price volatility, over trailing 12 months,
- bndyvol: Realized volatility of changes in our real bond yield series, over trailing 12 months

price - delta earngs + diwident yeld + delta valuation